#redirectLoadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#redirectRiftmsjr {
  font-size: 40px;
  letter-spacing: 5px;
  display: flex;
}

#point1 {
  animation: movePoint 1000ms linear infinite;
}

#point2 {
  animation: movePoint 1000ms linear infinite 333ms;
}

#point3 {
  animation: movePoint 1000ms linear infinite 666ms;
}

@keyframes movePoint {
  0% {
    transform: translateY(0px);
  }
  66% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#urlNotfoundContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#redirectRiftLogor {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fadeinr 2000ms linear infinite;
  opacity: 0;
}

@keyframes fadeinr {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

#redirectRiftLogo {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fadein 500ms linear;
  opacity: 0.9;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

#logoShiner {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  animation: shine 1500ms linear infinite;
  filter: blur(20px);
}

#logoShine {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgb(255, 0, 0);
  animation: shine 1500ms linear infinite;
  filter: blur(20px);
}

@keyframes shine {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

#urlNotfoundContainer > p {
  font-size: 40px;
  color: #dedede;
}
